{% extends 'base.html' %}
{% load bootstrap4 %}

{%block content%}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{job.title}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">


                {% block content_body %}
                {% endblock content_body %}
            </div>
            <div class="col-lg-4">



            </div>
        </div>
    </div>
</div>
{% endblock %}